<div class="main">
  <p>
    The following message is brought to you by the letter Q
    and the <code>salutation</code> property of the Ruby <code>HomeModel</code>
    object within <code>/Models/HomeModel.rb</code>.
  </p>
  <blockquote>
    <p>
      <strong class="salutation">
        
      </strong>
    </p>
  </blockquote>
haml
  <p>
    Click on <strong>
    </strong> to get started.
  </p>
</div>